<div class="page-header">
  <h3>Teilnahmen <%= @user.name %></h3>
</div>

<%= form_for @user, :url => { :controller => :participations, :action => "update" }, :html => { :class => 'form-horizontal' } do |f| %>

  <%= render "form", :f => f %>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', recurrences_path, :class => 'btn' %>
  </div>
asdf
<% end %>

