<div class="row">
  <div class="span3">
    <div class="well">
      <h3>Log in</h3>
      <%= form_tag sessions_path, :html => { :class => 'form-horizontal' } do %>
        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email], :placeholder => ("email") %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password, params[:password], :placeholder => ("password") %>
        </div>
        <div class="actions">
          <%= submit_tag "Log in", :class => 'btn btn-primary' %>
          <small>oder hier neu <%= link_to("Anmelden", signup_path) %>!</small>
        </div>
      <% end %>
    </div>
  </div>
</div>

