<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Logo Url</th>
    <th>Public Information</th>
    <th>Private Information</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.logo_url %></td>
    <td><%= group.public_information %></td>
    <td><%= group.private_information %></td>
    <td><%= link_to 'Show', backoffice_group_path(group) %></td>
    <td><%= link_to 'Edit', edit_backoffice_group_path(group) %></td>
    <td><%= link_to 'Destroy', backoffice_group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_backoffice_group_path %>
