<li class="list-group-item">
  <% if comment.recurrence_id != nil %>
    <%= link_to(:controller => :recurrences, :action => 'show', :id => comment.recurrence) do %>
      <%= comment.recurrence.event.category %> am 
      <%= comment.recurrence.scheduled_to.strftime("%d.%m.") %>
    <% end %>
  <% end %>
  <br />
  <%= markdown_parser comment.body %>
  <% if current_user == comment.user %>
    <%= button_to "Delete", comment_path(comment), method: :delete, confirm: "Are you sure?", title: comment.body, class: "btn btn-danger btn-xs pull-right" %>
  <% end %>
  <span class="timestamp">
    Posted by <%= link_to comment.user.name, user_path(comment.user) %> <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
</li>
