<%- model_class = Comment -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Date" %></th>
      <th><%= model_class.human_attribute_name(:recurrence_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td>
          <% if comment.recurrence_id != nil %>
            <%= link_to comment.recurrence.scheduled_to, recurrence_path(comment.recurrence) %>
          <% end %>
        </td>
        <td>
          <% if comment.recurrence_id != nil %>
            <%= comment.recurrence.event.category %>
          <% end %>
        </td>
        <td><%= comment.user.name %></td>
        <td><%= comment.title %></td>
        <td><%= comment.body %></td>
        <td><%= comment.created_at %></td>
        <td>
          <%= link_to "Destroy", comment_path(comment), method: :delete, confirm: "Are you sure?", class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

