<table class="table table-striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Zeit</th>
      <th>Art</th>
      <th>Zusagen</th>
      <th>Absagen</th>
      <th>Offen</th>
      <th>Ort</th>
      <th>Bemerkung</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @recurrences.each do |recurrence| %>
      <tr>
        <td><%= link_to recurrence.scheduled_to.strftime("%d.%m."), recurrence %></td>
        <td><%= recurrence.event.base_time.strftime("%H:%M") %></td>
        <td><%= recurrence.event.category %></td>
        <td><%= recurrence.users.count %></td>
        <td></td>
        <td><%= @users.count(:recurrence) %></td>
        <td><%= link_to recurrence.event.place,
    ("http://maps.google.de/maps?f=q&hl=de&q="+recurrence.event.place), :target => "_blank" %></td>
        <td><%= recurrence.event.remark %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
<%= link_to 'New', new_event_path, :class => 'btn btn-primary' %>

