<div class="well">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Zeit</th>
        <th>Art</th>
        <th><span class="vertical">Zusagen</span></th>
        <th><span class="vertical">Absagen</span></th>
        <th><span class="vertical">Offen</span></th>
      </tr>
    </thead>
    <tbody>
      <% @recurrences.each do |recurrence| %>
        <tr>
          <td><%= link_to recurrence.scheduled_to.strftime("%d.%m."), recurrence %></td>
          <td><%= recurrence.event.base_time.strftime("%H:%M") %></td>
          <td><%= recurrence.event.category %></td>
          <td><%= recurrence.participations.accepted.size %></td>
          <td><%= recurrence.participations.refused.size %></td>
          <td><%= recurrence.no_feedback.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Manage', events_path %> existing events or create directly a <%= link_to 'new', new_event_path %> one!
  <%= will_paginate @recurrences %>
</div>

<% @groups.each do |group| %>
  <div class="well">
    <p>Private Information for <strong><%= group.name %></strong></p>
    <p id="private_information"><%= markdown_parser group.private_information %></p>
    <%= link_to 'Edit', edit_backoffice_group_path(group), :class => 'pull-right' %>
  </div>
<% end %>
