<div class="well">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Datum/Zeit</th>
        <th>Art</th>
        <th><span class="vertical">Zusagen</span></th>
        <th><span class="vertical">Absagen</span></th>
        <th><span class="vertical">Offen</span></th>
      </tr>
    </thead>
    <tbody>
      <% @recurrences.each do |recurrence| %>
        <tr>
          <td>
            <%= link_to recurrence do %>
              <%= recurrence.scheduled_to.strftime("%d.%m.") %>/<%= recurrence.event.base_time.strftime("%H:%M") %>
            <% end %>
          </td>
          <td><%= recurrence.event.category %></td>
          <td><%= recurrence.participations.accepted.size %></td>
          <td><%= recurrence.participations.refused.size %></td>
          <td><%= recurrence.no_feedback.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @recurrences %>
</div>

<% @groups.each do |group| %>
  <div class="well">
    <p id="private_information"><%= markdown_parser group.private_information %></p>
    <span class="timestamp">
      Infos for <%= group.name %>. 
    </span>
    <%= link_to 'Edit', edit_backoffice_group_path(group) %>?
  </div>
<% end %>
