<div class="page-header">

  <h3>
    <%= @recurrence.event.category %> am <%= @recurrence.scheduled_to.strftime("%e. %B %Y") %>:<br />
    <%= @recurrence.event.remark %>
  </h3>
 
  <p>
    <strong>Zusagen:</strong>
    <%= render :partial => "participations/participation", :collection => @recurrence.users, 
         :spacer_template => "participations/divider" %>

    <% if @recurrence.users.exists?(current_user) %>              
      <%= button_to "Absagen", {:controller => :recurrences, :action => 'destroy', :id =>
      @recurrence }, :method => :delete, :class => 'btn btn-mini btn-danger' %>
    <% else %>    
      <%= button_to "Zusagen", {:action => "create", :id => @recurrence}, :class => 'btn btn-mini
      btn-success' %>     
    <% end %>  
    
    <strong>Status: </strong>
    <--%= render :partial => "participations/form" %><br />

-----------------------------------hier testen einschicken!

<%= form_for(@recurrence) do %>
  <%= check_box_tag "recurrence[user_ids][]", current_user.id, @recurrence.users.include?(current_user) %>
  <%= current_user.name %> 
  <%= submit_tag "Update" %>
<% end %>

<br />
-----------------------------------

<%= form_for @recurrence do |f| %>
  <div class="checkbox">  
      <% for user in User.find(:all) %>  
        <div>
          <%= check_box_tag "recurrence[user_ids][]", user.id, @recurrence.users.include?(user) %>  
          <%= user.name %>
        </div>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Update", :class => 'btn btn-mini btn-primary'  %>
  </div>  
<% end %>

    <br />
    
    <--geht irgendwie%= render :partial => "recurrences/form", :collection => @recurrence.users, 
        :as => 'user', :spacer_template => "recurrences/divider" %><br />
    
    <%= link_to @recurrence.event.place,
    ("http://maps.google.de/maps?f=q&hl=de&q="+@recurrence.event.place), :target => "_blank" %>
    oder via <%= link_to 'OSM',
    ("http://nominatim.openstreetmap.org/search?q="+@recurrence.event.place), :target => "_blank" %>
  </p>
     
  <%= image_tag("http://maps.google.com/maps/api/staticmap?center="+@recurrence.event.place+"&zoom=15&size=360x200&markers=color:green%7Clabel:S%7C"+@recurrence.event.place+"&maptype=roadmap&sensor=false") %>

</div>

<dl class="dl-horizontal" >
  <dt><strong>Zusagen:</strong></dt>
  <dd>
    <% @recurrence.users.each do |user| %>
      <i class="icon-user"></i> <%= user.name %>
    <% end %>
  </dd>
  
  <dt><strong>Ort:</strong></dt>
  <dd>
    <%= link_to @recurrence.event.place,
    ("http://maps.google.de/maps?f=q&hl=de&q="+@recurrence.event.place), :target => "_blank" %>
    oder via <%= link_to 'OSM',
    ("http://nominatim.openstreetmap.org/search?q="+@recurrence.event.place), :target => "_blank" %>
  </dd> 

  <dt><strong>Bemerkung:</strong></dt>
  <dd><%= @recurrence.event.remark %></dd>
  
  <br />

  <dt><strong>Kommentare:</strong></dt>
  <dd><%= render @recurrence.comments %></dd>
  
  <dt><strong>Hinzufügen:</strong></dt>
  <dd><%= render "comments/form" %></dd>
</dl> 
