<div class="well">
  <h3>
    <%= @recurrence.event.category %>
    <% if @recurrence.event.category =~ /(.*)Spieltag(.*)/i %>
      <%= link_to name = "", 'http://hvbv.de/index.php?id=296', html_options = { class: "icon-bullhorn", title: "Eingabe des Spiel-Ergebnisses!", target: "_blank" } %>
    <% end %>
  </h3>

  <p><%= markdown_parser @recurrence.event.remark %></p>

  <p>
    <%= @recurrence.scheduled_to.strftime("%e. %B %Y") %>, 
    <%= @recurrence.event.base_time.strftime("%H:%M") %> Uhr: 
    <%= link_to name = "", '#place', html_options = { class: "icon-road", title: "Ort und Anfahrt" } %> - 
    <%= link_to name = "", '#comments', html_options = { class: "icon-comment", title: "Kommentare" } %>
  </p>

  <hr />

  <dl class="dl-horizontal" >
    <dt><i class="icon-user"></i> Zusage(n): <%= @accepter.size %></dt>
    <dd>
      <%= render partial: "participations/participation", collection: @accepter, spacer_template: "participations/divider" %>
      ... <%= email_link(@accepter, @recurrence) %> !
    </dd>

    <dt><i class="icon-user"></i> Absage(n): <%= @refuser.size %></dt>
    <dd>
      <%= render partial: "participations/participation", collection: @refuser, spacer_template: "participations/divider" %>
      ... <%= email_link(@refuser, @recurrence) %> !
    </dd>

    <dt></dt>
    <dd><%= render "participations/button" %></dd>

    <dt>Hinzufügen:</dt>
    <dd><%= render "comments/form" %></dd>
  </dl>

  <p class="text-warning" align="middle">Reminder an die <%= @no_replyer.size %> "Schweiger" senden <%= email_link(@no_replyer, @recurrence) %> !</p>
  <%= link_to 'Edit', edit_event_path(@recurrence.event), :class => 'pull-right' %>
</div>

<div class="well" id="place">
  <p><strong>Ort: </strong><%= @recurrence.event.place %></p>

  <%= link_to image_tag("https://maps.google.com/maps/api/staticmap?center="+@recurrence.event.place+"&zoom=15&size=460x300&markers=color:green%7Clabel:S%7C"+@recurrence.event.place+"&maptype=roadmap&sensor=true",
                        class: "img-polaroid"),
                        "http://maps.google.de/maps?f=q&hl=de&q="+@recurrence.event.place,
                        target: "_blank" %>

  <p>
    Anfahrt via 
    <%= link_to 'Google Maps',
    ("http://maps.google.de/maps?f=q&hl=de&q="+@recurrence.event.place), :target => "_blank" %>
    oder <%= link_to 'Open Street Map',
    ("http://nominatim.openstreetmap.org/search?q="+@recurrence.event.place), :target => "_blank" %>
  </p>
</div>

