<div class="page-header">
  <h3><%= @recurrence.event.category %> am <%= @recurrence.scheduled_to.strftime("%e. %B %Y") %></h3>

  <% if @recurrence.event.category != 'Training' %>   
    <%= image_tag("http://maps.google.com/maps/api/staticmap?center="+@recurrence.event.place+"&zoom=15&size=360x200&markers=color:green%7Clabel:S%7C"+@recurrence.event.place+"&maptype=roadmap&sensor=false") %>
  <% end %> 
  
</div>

<dl class="dl-horizontal" >
  <dt><strong>Spielerzusagen:</strong></dt>
  <dd>
    <% @recurrence.users.each do |user| %>
     <%= user.name %>, 
    <% end %>
  </dd>
  
  <dt><strong>Ort:</strong></dt>
  <dd>
    <%= link_to @recurrence.event.place,
    ("http://maps.google.de/maps?f=q&hl=de&q="+@recurrence.event.place), :target => "_blank" %>
  </dd> 

  <dt><strong>Bemerkung:</strong></dt>
  <dd><%= @recurrence.event.remark %></dd>
  
  <br />

  <dt><strong>Kommentare:</strong></dt>
  <dd class="well"><%= render @recurrence.comments %></dd>
  
  <dt><strong>Hinzufügen:</strong></dt>
  <dd><%= render "comments/form" %></dd>
</dl> 
