<div class="page-header">
  <h3><%= @group.name %></h3>
</div>

<p>
  <b>Logo Url:</b>
  <%= @group.logo_url %>
</p>

<p>
  <b>Public Information:</b>
  <%= markdown_parser @group.public_information %>
</p>

<p>
  <b>Private Information:</b>
  <%= markdown_parser @group.private_information %>
</p>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_group_path(@group), :class => 'btn' %>
</div>
