<%= form_for @user, html: { class: "form-horizontal", role: "form" } do |f| %>
  <%= render "shared/error_message", object: f.object %>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.phone_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.date_select :birthday, {start_year: 1949 , end_year: Time.now.year - 5}, class: "form-control date-select", type: "date" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :shirt_number, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :shirt_number, class: "form-control number-select" %>
      <span class="help-block">Die Trikot-Nummer NUR eingeben, wenn auch am Spielbetrieb teilgenommen wird, denn das Feld wird als Indikator für "offene" Termin-Rückmeldungen an Spieltagen genutzt!</span>
    </div>
  </div>
  <% display_for(:admin) do %>
    <div class="form-group">
      <%= f.label :admin, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.check_box :admin, class: "checkbox" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit nil, class: "btn btn-success btn-sm" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          users_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>
<% end %>
