<div  class="page-header">
  <h3>Kontakte</h3>
</div>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Geburtstag</th>
      <th>Trikot</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.birthday %></td>
        <td><%= user.shirt_number %></td>
      </tr>
    <% end %>
  <tbody>

</table>

