<div class="page-header">
  <h3><%= @user.name %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>Nickname:</strong></dt>
  <dd><%= @user.slug %></dd>

  <dt><strong>Email:</strong></dt>
  <dd><%= @user.email %></dd>

  <dt><strong>Telefon:</strong></dt>
  <dd><%= @user.phone %></dd>

  <dt><strong>Geburtstag:</strong></dt>
  <dd class="clearfix"><%= @user.birthday %></dd>

  <dt><strong>Trikotnummer:</strong></dt>
  <dd class="clearfix"><%= @user.shirt_number %></dd>

  <% display_for(:admin) do %>
    <dt><strong>Administrator:</strong></dt>
    <dd><%= check_box_tag "user_id", @user.id, @user.admin, :disabled => true %></dd>
  <% end %>

  <dt>Teilnahmen:</dt>
  <dd>
    <ul>
      <% @user.recurrences.order('scheduled_to').each do |recurrence| %>
        <li><%= recurrence.scheduled_to.strftime("%d. %b. %Y") %> - <%= recurrence.event.category %></li>
      <% end %>
    </ul>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', users_path, :class => 'btn' %>
  <% display_for(:owner) do %>
    <%= link_to('Edit', edit_user_path(@user), :class => 'btn') %>
    <%= link_to('Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger') %>
  <% end %>
</div>

