<div class="page-header">
  <h3><%= @user.name %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>Email:</strong></dt>
  <dd><%= @user.email %></dd>
  
  <dt><strong>Telefon:</strong></dt>
  <dd><%= @user.phone %></dd>
  
  <dt><strong>Geburtstag:</strong></dt>
  <dd><%= @user.birthday %></dd>

  <dt><strong>Trikotnummer:</strong></dt>
  <dd><%= @user.shirt_number %></dd>

  <dt>Teilnahmen:</dt>
  <dd>
    <ul>
      <% @user.recurrences.order('scheduled_to').each do |recurrence| %>
        <li><%= recurrence.scheduled_to.strftime("%d. %b. %Y") %> - <%= recurrence.event.category %></li>
      <% end %>
    </ul>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', users_path, :class => 'btn'  %>
  <%= link_to_if(current_user.id == @user.id || current_user.name == 'iceglad', 'Edit', edit_user_path(@user), :class => 'btn') do end %>
  <%= link_to_if(current_user.id == @user.id || current_user.name == 'iceglad', 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger') do end %>
</div>
