<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @user.name %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><strong>Nickname:</strong></dt>
      <dd><%= @user.slug %></dd>
      <dt><strong>Email:</strong></dt>
      <dd><%= @user.email %></dd>
      <dt><strong>Telefon:</strong></dt>
      <dd><%= @user.phone %></dd>
      <dt><strong>Geburtstag:</strong></dt>
      <dd class="clearfix"><%= @user.birthday %></dd>
      <dt><strong>Trikotnummer:</strong></dt>
      <dd class="clearfix"><%= @user.shirt_number %></dd>
      <% display_for(:admin) do %>
        <dt><strong>Administrator:</strong></dt>
        <dd><%= check_box_tag "user_id", @user.id, @user.admin, :disabled => true %></dd>
      <% end %>
      <dt>Teilnahmen:</dt>
      <dd>
        <ul class="list-unstyled">
          <% @user.recurrences.order('scheduled_to').each do |recurrence| %>
            <li><%= recurrence.scheduled_to.strftime("%d. %b. %Y") %> - <%= recurrence.event.category %></li>
          <% end %>
        </ul>
      </dd>
      <dt></dt>
      <dd>
        <%= link_to t('.back', :default => t("helpers.links.back")),
            users_path, :class => 'btn btn-default btn-sm'  %>
        <% display_for(:owner) do %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-primary btn-sm' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user), :class => 'btn btn-danger btn-sm',
              :method => 'delete', :data => { :confirm => t('.confirm',
              :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
