<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Edit Event</h3>
  </div>
  <div class="panel-body">
    <%= form_for @event, :html => { class: "form-horizontal", role: "form" } do |f| %>
      <%= render "shared/error_message", object: f.object %>
      <div class="form-group">
        <%= f.label :category, :class => "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :category, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Dates", :class => "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <ul class="list-unstyled">
            <%= f.fields_for(:recurrences) do |recurrences_form| %>
              <li class="clearfix">
                <%= recurrences_form.date_select :scheduled_to, {}, :class => "form-control date-select" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Time", :class => "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.time_select :base_time, {}, :class => 'form-control time-select' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :place, :class => "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :place, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :remark, :class => "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_area :remark, :class => 'form-control', :rows => "4" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.submit nil, class: "btn btn-success btn-sm" %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-default btn-sm' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
