<p id="notice"><%= notice %></p>

<p>
  <b>Kategorie:</b>
  <%= @event.category %>
</p>

<p>
  <b>Datum:</b>
  <%= @event.base_date.strftime("%d. %b. %y") %>
</p>

<p>
  <b>Wiederholung:</b>
  <ul>
    <% @event.recurrences.each do |recurrence| %>
      <li><%= link_to recurrence.scheduled_to.strftime("%a. %d. %b. %Y"), event_recurrence_path(@event, recurrence) %></li>
    <% end %>
  </ul>
</p>
  
</p>

<p>
  <b>Ort:</b>
  <%= @event.place %>
</p>

<p>
  <b>Bemerkung:</b>
  <%= @event.remark %>
</p>

<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
