<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "layouts/navigation" %>
    <div class="content">
      <div class="container">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert" href="#">x</a>
            <%= msg %>
          </div>
        <% end %>

        <%= content_for?(:divided_spans) ? yield(:divided_spans) : yield %>
      </div>
    </div>

<!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <ul class="footer-links">
          <li><a href="http://seitenmacher.de">Blog</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/netzfisch/teamorga/wiki">Documention</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/netzfisch/teamorga/issues?state=open">Issues</a></li>
        </ul>
        <p>&copy; by seitenmacher 2012 - <%= Date.today.strftime("%Y") %></p>
        <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p>Built with love and awesome tools <a href="http://vim.org" target="_blank">VIM</a>, <a href="https://github.com/twitter/bootstrap" target="_blank">Twitter Bootstrap</a>, <a href="http://ruby-lang.org" target="_blank">Ruby</a> and <a href="http://rubyonrails.org" target="_blank">Rails</a> by <a href="http://twitter.com/netzfisch" target="_blank">@netzfisch</a>.</p>
      </div>
    </footer>

<!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <!-- falta google-analytics-tag -->

  </body>
</html>
