<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <!-- Wrap all page content here, to push footer down! -->
    <div id="wrap">
      <%= render "layouts/navigation" %>
      <%= render "shared/flash_message" %>
    </div>
    <%= render "layouts/footer" %>
    <!-- Javascripts -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <!-- Google-Analytics Tag could be placed here -->
  </body>
</html>
