<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <!-- Wrap all page content here, to push footer down! -->
    <div id="wrap">
      <%= render "layouts/navigation" %>
      <div class="container">
      <% if content_for?(:columns) %>
        <%= yield(:columns) %>
      <% else %>
        <%= render "shared/flash_message" %>
        <%= yield %>
      <% end %>
      </div>
    </div>
    <%= render "layouts/footer" %>
    <!-- Javascripts tag placed at the end of document to load page faster -->
    <%= javascript_include_tag "application" %>
    <!-- Google-Analytics tag could be placed here ... -->
  </body>
</html>
