<!DOCTYPE html>
<html>
<head>
  <title>Teamorga</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>

<body>

  <div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
      <div class="container">  
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">  
          <span class="icon-bar"></span>  
          <span class="icon-bar"></span>  
          <span class="icon-bar"></span>  
        </a>  
        <a class="brand" href="#">ATSV</a>  
        <div class="nav-collapse">  
          <ul class="nav">
            <li class="divider-vertical"></li>       
            <li><%= link_to "Termine", recurrences_path %></li>  
            <li class="divider-vertical"></li>
            <li><%= link_to "Kontakte", users_path %></li>
            <li class="divider-vertical" ></li>           
            <li><%= link_to "HVbV", "http://hvbv.de/neue_HP/index.php?id=285&tx_wfqbe_pi1[uid]=45",  :target => "_blank" %></li>             
            <li class="divider-vertical"></li>
            <form class="navbar-search pull-left">
              <input type="text" class="search-query" placeholder="funktioniert noch nicht!">
            </form>
          </ul>
          <ul class="nav pull-right">                 
            <li><%= link_to_if(@current_user.nil?, "Login", login_path) do link_to(@current_user.name, user_path(@current_user)) end %></li>
            <li class="divider-vertical"></li>
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Admin
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                <%= link_to "Benutzer", users_path %>
                <%= link_to "Termine", events_path %>
                <%= link_to_if(@current_user.nil?, "Sign up", signup_path) do link_to("Logout", logout_path) end %>
                </ul>
               </li>
            </ul>
          </ul>
        </div>  
      </div>  
    </div>  
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
 
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <h2>Kommentare</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
      </div>
    </div>
  </div>
  
</body>
</html>
