<% content_for :columns do %>
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <%= render "shared/flash_message" %>
      <%= yield %>
    </div>
    <div class="col-md-5">
      <%= render 'layouts/birthdays' %>
      <%= render 'layouts/comments' %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
